/obj/
/bin/
/alire/
/config/
/.dir-locals.el
*/zig-out/
*/.zig-cache/
*.o
*.a
/uploads/*
*.json_backup*
*.code-workspace
*.vscode/
.cache/
compile_commands.json
*/build/*
sync_log.csv
sync_host
